main {
    background-color: #F4F4F4;
}

.account-info-img img {
    height: 100%;
}


.account-info-img {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}


.account-info-addition-name h2 {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    color: #000;
}

.account-info-addition-status p {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    color: #6e6e6e;
}



.btn {
    text-decoration: none;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    background-color: #4373ED;
    border-radius: 40px;
    padding: 10px 20px;
    border: 0;
    -webkit-box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #ffffff;
    font-weight: bold;
}


.btn-active {
    background-color: #43ed68;
}

.girl-post-all {
    background-color: #ffffff;
    -webkit-box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}


.girl-post-img {
    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;

}

.girl-post-img img {
    height: 100%;
}

.girl-post-all-block-info-addition span {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #0584e0;
    cursor: pointer;
}

.post-time {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.girl-post-all-block-img {
    margin: 0 5%;
}

.girl-post-all-block-img img {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
}

.girl-post-all-block-img-block {
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.block_warning {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 30%;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    font-size: 37px;
    color: #cf1313;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
}


.girl-post-activity {

    background-color: #ffffff;
    -webkit-box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}

.girl-post-activity-info h2 {
    font-family: 'Montserrat',
        sans-serif;
    color: #000;
}

.girl-post-activity-info span {
    font-size: 18px;
    color: #0000008a;
}

.btn-follow {
    background-color: #ed4382;
    font-weight: bold;
}

.girl-post-projects {
    background-color: #ffffff;
    -webkit-box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    box-shadow: 7px 11px 20px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}

.girl-post-projects h4 {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

.girl-post-projects-href a {
    text-decoration: underline !important;
}

.girl-post-projects-href span {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
}

@media(max-width:990px) {
    .block_warning {
        font-size: 14px;
    }
}

@media (max-width:770px) {

    .account-info-img {
        margin: 0 30%
    }

    .account-info-img img {
        width: 100%;
    }

    .account-subscribe {
        margin: 0 !important;
    }

    .account-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .girl-post-img {
        max-width: 50px;
        max-height: 50px;
    }

    .girl-post-all-block-info-addition span {
        font-size: 18px;
    }

    .post-time {
        font-size: 10px;
    }

    h2 {
        font-size: 1rem;
    }

    .account-info-addition-status p {
        font-size: 14px;
    }
}

@media(max-width:400px) {
    .account-info-img {
        margin: 0 15%;
    }

    .block_warning {
        left: 23%;
    }
}